%div.currentProjectsListing.scrollbar
  %h2.white Completed Projects
  - @projects.each do |project|
    %div.projectListing
      .row
        .small-12.columns
          %div.nameListing= project.name
      .row
        .small-12.columns
          %div.descriptionListing= project.description
      .row
        .small-1.columns
          %div.linkListing= link_to 'Show', project
        .small-1.columns
          %div.linkListing= link_to 'Delete', project, method: :delete, |
              data: { confirm: 'Are you sure?' }        |
        .small-10.columns
  %br/
  = link_to "Create New", projects_new_path